*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}



body{
    background-color: rgb(59, 59, 59);
    color: white;
    background-image: url(images/BackgroundSpace.jpg);

}

main{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 170px;
}

.menu{
    display: flex;
    align-items: center;
}

.cabecalho{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(12, 12, 12);
    margin-bottom: 20px;
    padding: 0 50px;
}

.links{
    padding: 10px;
    text-decoration: none;
    color: rgb(187, 185, 185);
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 20px;
}

.logo{
    margin-right: 50%;
    margin-left: 10%;
}

.homeTitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.mainIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 170px;
}

.mainConcluido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
    margin: 290px;
    
}

.mainConcluido h1{
    margin-bottom: 30px;
}

.Titulo{
    font-size: 50px;
}

.homeTitulo h1, .homeTitulo p {
    margin-bottom: 15px;
}

.brilhoVerde {
    color: #00ff88;
    text-shadow: 0 0 2px #00ff8855, 0 0 4px #00ff8877, 0 0 6px #00ff88aa;
    animation: brilho 3s infinite alternate;
}

@keyframes brilho {
    from {
        text-shadow: 0 0 2px #00ff8855, 0 0 4px #00ff8877, 0 0 6px #00ff88aa;
    }
    to {
        text-shadow: 0 0 4px #00ff8866, 0 0 6px #00ff8888, 0 0 10px #00ff88aa;
    }
}

.subtitulo {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: -10px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 200px;
    position: relative; 
    bottom: auto;
    width: 100%;
    background-color: rgb(12, 12, 12);
    color: white;
    width: 100%;
    padding: 20px 0;
    margin-top: 40px;
    opacity: 0.6;
}

.linkFooter{
    color: white;
    text-decoration: none;
}




button{
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    height:100px ;
    width: 200px;
    margin-top: 30px;
    transition: border-color 0.5s ease; 
    background-color: rgb(31, 161, 31);
}
.buttonSaibaMais{
    margin-top: 100px;
    margin-bottom: 200px;
}

.botaoInscrever{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
button:hover {
    background-color: #04c23d;
    transform: scale(1.01);
    border-color: #00ffaa; 
    box-shadow: 0 0 8px rgba(0, 255, 136, 0.5);

}



.sobreMain {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 20px;
    color: white;
    background-color: #0c0c0c;
}

.duvidaSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px 30px;
    color: white;
    background-color:#0c0c0c ;

}

.duvidaButton{

    width: 800px;
    color: white;
    max-width: 100%;
    transition: border-color 0.5s ease; 
    background-color: #0c0c0c;

}

.duvidaButton:hover{
    background-color: #0c0c0c;
    border-color: #00ffaa; 
    box-shadow: 0 0 8px rgba(0, 255, 136, 0.5);
}

.seta {
    display: inline-block;
    transition: transform 0.3s ease;
    margin-left: 10px; 
    font-size: 30px; 
}


.seta.rotacionada {
    transform: rotate(180deg);
}




.secao {
    margin-bottom: 30px;
}

.secao h2 {
    font-size: 1.8em;
    color: #00ff88;
}

.secao ul {
    list-style-type: disc;
    margin-left: 20px;
}

.lema {
    font-size: 1.2em;
    text-align: center;
    color: #00ff88;
}


.telaRegistro{
    display: flex;
    flex-direction: column;
    max-width: 500px; 
    margin: 50px auto;
    margin-bottom: 200px; 
    padding: 20px;
    background-color: #0c0c0c; 
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.telaRegistro label {
    font-size: 1.2em;
    margin-top: 20px; 
    margin-bottom: 5px; 
    color: #00ff88;
}

.telaRegistro input {

    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #00ff88; 
    background-color: #2a2a2a; 
    color: white;
    border-radius: 8px;
    font-size: 17px;
    box-sizing: border-box; 
    outline: none; 


    transition: border-color 0.3s ease; 
}


.telaRegistro input:focus {
    border-color: #00ffaa; 
    box-shadow: 0 0 8px rgba(0, 255, 136, 0.5);
}

.telaRegistro button{
    width: 100%;
    padding: 15px;
}


.comentarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    margin: 50px auto;
    padding: 25px;
    background-color: #2a2a2a;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.comentarios h2 {
    font-size: 1.8rem;
    color: #d9dde0;
    margin-bottom: 15px;
    text-align: center;
}

.comentarios textarea {
    width: 90%;
    height: 10px;
    padding: 12px;
    border: 1px solid #20772c;
    border-radius: 8px;
    resize: none;
    font-size: 1rem;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

.comentarios textarea:focus {
    border-color: #00ffaa;
    outline: none;
}

.comentarios h3 {
    margin-top: 25px;
    font-size: 1.4rem;
    color: #d6d8da;
}

.listaComentarios {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.listaComentarios button{
    font-size: 15px;
    height: 30px;
    width: 50px;
    margin: 0px;
    margin-left: 10px;
}

.listaComentarios li {
    display: flex;
    justify-content: space-between;
    background-color: #070707;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 8px;
    font-size: 0.95rem;
}

#divComentario{
    display: flex;
    
    justify-content: space-between;
}

.botaoComentario{
    margin-top: 0px;
    height: 40px;
    font-size: 20px;
}

.footerSection{
    font-size: small;
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 40px;
}